{% extends 'base.html' %}

{% block title %}Wprowadź nowe hasło{% endblock %}

{% block content %}

{% if validlink %}

<form method="POST">
    <div class="section">
  {% csrf_token %}
  {{ form.as_p }}
  </div>
  <div class="section">
  <input class="button is-link" type="submit" value="Zmień moje hasło">
  </div>
</form>

{% else %}
<div class="section">
<p>Link resetujący hasło jest nieprawidłowy, możliwe że już został użyty.  Proszę zresetuj hasło jeszcze raz.</p>
</div>
{% endif %}
{% endblock %}
